<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lineageos.recorder"> <!-- This is needed for aosp build env -->
    <uses-sdk tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING"/>
    <uses-permission android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name=".RecorderWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recorder_widget_info" />
        </receiver>

        <service
            android:name=".service.WidgetService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <receiver android:name=".WidgetReceiver" />

        <activity
            android:name=".RecorderActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".DeleteLastActivity"
            android:excludeFromRecents="true"
            android:label="@string/delete_title"
            android:theme="@style/AppTheme.DialogActivity" />
        <activity
            android:name=".ListActivity"
            android:label="@string/list_title"
            android:parentActivityName=".RecorderActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".DialogActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.DialogActivity" /> <!-- Sound recorder -->
        <service
            android:name=".service.SoundRecorderService"
            android:exported="false"
            android:foregroundServiceType="microphone">
            <intent-filter>
                <action android:name="com.libremobileos.recorder.service.START" />
                <action android:name="com.libremobileos.recorder.service.STOP" />
                <action android:name="com.libremobileos.recorder.service.PAUSE" />
                <action android:name="com.libremobileos.recorder.service.RESUME" />
            </intent-filter>
        </service>
    </application>

</manifest>